form{
    background-color: black;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.FormDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
